<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPメニュー</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>TOPメニュー</h1>
        <div class="menu">
            <button class="menu-button">商品一覧</button>
            <button class="menu-button">店舗一覧</button>
			<form action="/admin/list" method="post"th:action="@{/admin/list}">
				<button class="menu-button">管理者一覧</button>
			</form>
            
            <button class="menu-button">商品発注履歴一覧</button>
			<form action="/manufactures/list" method="post"th:action="@{/manufactures/list}">
				<button class="menu-button">メーカー一覧</button>
			</form>
            
            <button class="menu-button">カテゴリ一覧</button>
        </div>
		<form action="/logout" method="post"th:action="@{/logout}">
			<button class="logout-button">ログアウト</button>
		</form>    
        <div class="profile">
            <button class="profile-button">管理者プロフィール</button>
        </div>
    </div>
</body>
</html>
