<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者編集</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>管理者編集</h1>
		<form th:action="@{/admin/edit/:id/update(id=${adminForm.id})}" th:object="${adminForm}" method="post">

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓</th>
                        <th>名</th>
                        <th>店舗ID</th>
                        <th>email</th>
                        <th>役職ID</th>
                        <th>権限ID</th>
                        <th>電話番号</th>
                        <th>パスワード</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 現在のデータを表示 -->
                    <tr th:each="admin : ${admin}">
                        <td th:text="${admin.id}"></td>
                        <td th:text="${admin.lastName}"></td>
                        <td th:text="${admin.firstName}"></td>
                        <td th:text="${admin.shop.id}"></td>
                        <td th:text="${admin.email}"></td>
                        <td th:text="${admin.role.id}"></td>
                        <td th:text="${admin.permission.id}"></td>
                        <td th:text="${admin.phoneNumber}"></td>
                        <td>*******</td>
                    </tr>
                    <!-- 入力用の行 -->
                    <tr>
						<td th:text="${adminForm.id}"></td>
						<td><input type="text" th:field="*{lastName}"></td>
						<td><input type="text" th:field="*{firstName}"></td>
						<td><input type="text" th:field="*{shopId}"></td>
						<td><input type="email" th:field="*{email}"></td>
						<td><input type="text" 	th:field="*{roleId}"></td>
						<td><input type="text"  th:field="*{permissionId}"></td>
						<td><input type="tel" 	th:field="*{phoneNumber}"></td>
						<td><input type="password" 	th:field="*{password}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <button type="submit">編集完了</button>
            </div>
        </form>
		<form action="/admin/list" method="post"th:action="@{/admin/list}">
			<button type="submit">管理者一覧画面へ戻る</button>
		</form>
    </div>
</body>
</html>
