<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品発注</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>商品発注</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>商品名</th>
                    <th>商品イメージ</th>
                </tr>
            </thead>
            <tbody>
                <!-- 現在のデータを表示 -->
                <tr>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.image}"></td>
                </tr>
            </tbody>
        </table>
        <form action="/item/order/complete" method="post" th:action="@{/item/older/complete}">
            <input type="hidden" name="id" th:value="${item.id}">
			
			<div class="center-container">
			    <div class="flex-container">
			        <label for="quantity">数量:</label>
			        <select name="quantityOfStock" id="quantity">
			            <option value="1">1</option>
			            <option value="2">2</option>
			            <option value="3">3</option>
			            <option value="4">4</option>
			            <option value="5">5</option>
			            <option value="6">6</option>
			            <option value="7">7</option>
			            <option value="8">8</option>
			            <option value="9">9</option>
			            <option value="10">10</option>
			        </select>
			    </div>
			</div>
        </form>
        <form action="/item/list" method="post" th:action="@{/item/list}">
            <button type="submit">商品一覧画面へ戻る</button>
        </form>
    </div>
</body>
</html>
