<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者詳細</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>管理者プロフィール詳細</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓</th>
                        <th>名</th>
                        <th>店舗ID</th>
                        <th>email</th>
                        <th>役職ID</th>
                        <th>権限ID</th>
                        <th>電話番号</th>
                        <th>パスワード</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 現在のデータを表示 -->
                    <tr>
                        <td th:text="${admin.id}"></td>
                        <td th:text="${admin.lastName}"></td>
                        <td th:text="${admin.firstName}"></td>
                        <td th:text="${admin.shop.id}"></td>
                        <td th:text="${admin.email}"></td>
                        <td th:text="${admin.role.id}"></td>
                        <td th:text="${admin.permission.id}"></td>
                        <td th:text="${admin.phoneNumber}"></td>
                        <td>*******</td>
                    </tr>
                </tbody>
            </table>
			<form action="/adminprofile/edit" method="get"	th:action="@{/adminprofile/edit/{id}(id=${admin.id})}"> 
				<button class="back-button">管理者プロフィール編集画面へ</button>
			</form>
			<form action="/top" method="post"	th:action="@{/top}">
				<button class="back-button">TOPメニューへ戻る</button>
			</form>
    </div>
</body>
</html>