<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メーカ編集</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>メーカ編集</h1>
		<form th:action="@{/manufactures/edit/:id/update(id=${manufacturesForm.id})}" th:object="${manufacturesForm}" method="post">

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名前</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 現在のデータを表示 -->
                    <tr th:each="manufactures : ${manufactures}">
                        <td th:text="${manufactures.id}"></td>
                        <td th:text="${manufactures.Name}"></td>
                    </tr>
                    <!-- 入力用の行 -->
                    <tr>
						<td th:text="${manufacturesForm.id}"></td>
						<td><input type="text" th:field="*{Name}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <button type="submit">編集完了</button>
            </div>
        </form>
		<form action="/manufactures/list" method="post"th:action="@{/manufactures/list}">
			<button type="submit">メーカ一覧画面へ戻る</button>
		</form>
    </div>
</body>
</html>